@{
    ViewBag.Title = "Dziekanat";
    ViewBag.Body = "Witaj w aplikacji \"Dziekanat\". Aby kontynuować zaloguj się do systemu.";
}


    
    
<div class="panel panel-default" style="margin: 20px 0px 0px 0px;">
    <div class="panel-heading">
        <h4>@ViewBag.Title</h4>
    </div>
    <div class="panel-body">
        <p>@ViewBag.Body</p>
    </div>
</div>

